<phpunit beStrictAboutTestsThatDoNotTestAnything="true"
		 beStrictAboutChangesToGlobalState="true"
		 beStrictAboutOutputDuringTests="true"
		 colors="true"
		 stopOnFailure="true"
		 bootstrap="./tests/bootstrap.php"
>
	<testsuites>
		<testsuite name="Query Builder Test Suite">
			<directory>./tests/</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory>./src/</directory>
		</whitelist>
	</filter>

	<php>
		<!--<var name="DB_DSN" value="mysql:dbname=bloatless;host=localhost" />-->
		<!--<var name="DB_DSN" value="sqlite:./tests/Fixtures/storage/sqlite.db" />-->

		<var name="MYSQL_HOST" value="localhost" />
		<var name="MYSQL_USER" value="bloatless" />
		<var name="MYSQL_PASSWD" value="bloatless" />
		<var name="MYSQL_DB" value="bloatless" />

		<var name="SQLITE_DB" value="./tests/Fixtures/storage/sqlite.db" />
	</php>
</phpunit>